
<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="About Arasya Web" />
    <meta name="author" content="Arasya" />
    <meta content='#007FFF' name='theme-color'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <base target="_blank"/>
    <title>Arasya Rafi Putra</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Poppins');
      *{
        font-family: 'Poppins', sans-serif;
      }
    </style>
    <!--<audio autoplay="autoplay" hidden="hidden" src="https://l.top4top.io/m_2045clld21.mp3"></audio>-->
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient shadow mb-3">
    <div class="container">
      <a class="navbar-brand fw-bold" href="https://pict.sindonews.net/dyn/480/pena/news/2021/10/23/207/577654/bikin-konten-prank-kuntilanak-wanita-ini-tewas-ditembak-rjp.jpg">Arasya</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://wa.me/6281319944917">My WhatsApp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://muhtiga.sch.id">SMK MUHAMMADIYAH 3 TANGSEL</a>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://instagram.com/sofunsyabi.id">My Instagram</a>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://github.com/GetSya">My Github</a>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://pict.sindonews.net/dyn/480/pena/news/2021/10/23/207/577654/bikin-konten-prank-kuntilanak-wanita-ini-tewas-ditembak-rjp.jpg">Jangan di pencet</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="card m-3 text-center shadow">
      <h2 class="card-header shadow-sm bg-primary text-white">Arasya Rafi Putra</h2>
      <div class="card-body">
      <div class="text-center">
        <img src="https://i.ibb.co/jMV6TzZ/273922668-1164248800998046-2290018941548074735-n.jpg" class="rounded-circle shadow mb-3" alt="Space" 
        width="150px" height="150px">
      </div>
        <p class="card-text text-shadow">Arasya Rafi Putra</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card m-3 text-center shadow">
      <h2 class="card-header shadow-sm bg-primary text-white">Hobby</h2>
      <div class="card-body">
      <div class="text-center">
        <img src="https://buzzup.id/wp-content/uploads/2021/08/profesi-programmer-sekarang-bergengsi.jpg" class="rounded-circle shadow mb-3" alt="Space" 
        width="150px" height="150px">
      </div>
        <p class="card-text text-shadow">Ngoding, Makan, Tidur, Belajar</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card m-3 text-center shadow">
      <h2 class="card-header shadow-sm bg-primary text-white">SEKOLAH</h2>
      <div class="card-body">
      <div class="text-center">
        <img src="https://muhtiga.sch.id/media_library/images/9d67c64a15669f868be7f6d7a00a6169.png" class="rounded-circle shadow mb-3" alt="Space" 
        width="150px" height="150px">
      </div>
        <p class="card-text text-shadow">SMK MUHAMMADIYAH 3 KOTA TANGERANG SELATAN</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card m-3 text-center shadow">
      <h2 class="card-header shadow-sm bg-primary text-white">Game</h2>
      <div class="card-body">
      <div class="text-center">
        <img src="https://i.ibb.co/803CCcF/Screenshot-64.png" class="rounded-circle shadow mb-3" alt="Space" 
        width="150px" height="150px">
      </div>
        <p class="card-text text-shadow">Game Buatan Arasya = Game "PingPong"<br>https://arsya-adaweb.herokuapp.com/game</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card m-3 text-center shadow">
      <h2 class="card-header shadow-sm bg-primary text-white">Play LINE WITHOUT A HOOK X PERFECT (SLOWED REVERB)</h2>
      <iframe align="center"
      src="https://www.youtube.com/embed/StOoaB0abMQ?playlist=StOoaB0abMQ&loop=1">
      </iframe>
  </div>
  </div>
  <div class="container-fluid">
    <div class="card m-3 text-center shadow">
      <h2 class="card-header shadow-sm bg-primary text-white">Play Gryffin - Body Back</h2>
      <audio controls>
  <source src="https://i.top4top.io/m_2263uojej1.m4a" type="audio/ogg">
  <source src="https://i.top4top.io/m_2263uojej1.m4a" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="https://GetSya/mypropil/views/Pesan.js" type="text/javascript" charset="utf-8"></script>
<br>
  </body>
</html>